/************/
/*  COLORS  */
/************/
$gray: rgba(170, 170, 170, 0.3);
$lightBlue: #0f97f9;
$deepPurple: #0D1D6E;

// Freshness colors
$fresh: rgba(59, 226, 6, 0.3);
$browning: rgba(147, 214, 27, 0.3);
$moldy: rgba(228, 255, 32, 0.3);
$stale: rgba(255, 163, 0, 0.3);
$rotten: rgba(235, 66, 0, 0.3);
$putrid: rgba(216, 29, 22, 0.4);
$dead: rgba(165, 92, 92, 0.5);
$freshnessColors: $fresh, $browning, $moldy, $stale, $rotten, $putrid, $dead;

/***********/
/*  FONTS  */
/***********/
@font-face {
  /* Norwester font by Jamie Wilson: http://jamiewilson.io/norwester/ */
  font-family: "Norwester";
  src: url("../fonts/norwester.woff");
}


/***************/
/*  PAGE-WIDE  */
/***************/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  /* Background image from: http://subtlepatterns.com/halftone/ */
  background-image: url("../images/halftone.png");
}

#freshnessScale {
  position: fixed;
  top: 30px;
  left: 50px;
  text-align: center;
  font-family: "Norwester";
  font-size: 16px;

  p {
    position: static;
    margin: 0 0 10px -10px;
  }

  div {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}

@for $i from 1 through length($freshnessColors) {
  .freshnessLevel#{$i} {
    background: nth($freshnessColors, $i);
    border: solid 3px darken(nth($freshnessColors, $i), 50%);
  }
}

/*********************/
/*  REPOS CONTAINER  */
/*********************/
#title {
  text-align: center;
  font-family: "Norwester";
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
}

#filters {
  text-align: center;

  div {
    display: inline-block;
    font-family: "Norwester";
    margin: 0 50px 20px 0;

    &:last-of-type {
      margin-right: 0;
    }

    select {
      display: block;
      background: $stale;
      width: 200px;
      height: 35px;
      font-size: 20px;
      font-family: Norwester;
      border: solid 2px black;
    }

    label {
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}

#mainReposMessage {
  font-family: "Helvetica Neue";
  text-align: center;
}


/**********/
/*  REPO  */
/**********/
.repo {
  margin: 0 auto 20px auto;
  width: 800px;

  .repoName {
    font-size: 22px;
    font-family: "Norwester";
    margin: 10px;
    a {
      color: $lightBlue;
      text-decoration: none;
    }
  }

  p {
    font-family: "Helvetica Neue";
    margin: 10px;
  }

  &.issuesDisabled {
    background: $gray;
    border: solid 3px darken($gray, 50%);
  }
}

/***********/
/*  ISSUE  */
/***********/
.issues, .pullRequests {
  font-family: "Helvetica Neue";
  margin-bottom: 10px;

  p {
    font-weight: bold;
  }

  .issue {
    margin-left: 42px;

    a {
      color: $deepPurple;
    }
  }
}